@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

$main-color: rgba(0, 85, 129, 1);

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

nav {
    display: flex;
    padding: 1vh;
    color: #fff;
    background: $main-color;

    h1 {
        flex-grow: 1;
        background-image: url(images/covid19.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        padding-left: 5rem;
    }

    ol {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            padding: 1vh;
            white-space: nowrap;
            line-height: 2rem;

            &.i18n {
                font-size: 150%;
                span {
                    padding: 5px;
                }
            }
        }
    }
}

#collections {

    padding: 3vmax 0;

    > div {

        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        margin: 0;
        padding: 0;

        & > div {
            box-shadow: 0 8px 10px #BBB;

            // for-tablet-portrait-up
            // for-tablet-landscape-up
            // for-desktop-up
            // for-big-desktop-up

            display: flex;
            flex-direction: column;
            position: relative;

            &.isolation > h2:after { background-image: url(images/w-icons/isolation.svg); }
            &.cost > h2:after { background-image: url(images/w-icons/cost.svg); }
            &.interaction > h2:after { background-image: url(images/w-icons/interaction.svg); }
            &.mood > h2:after { background-image: url(images/w-icons/mood.svg); }
            &.screen > h2:after { background-image: url(images/w-icons/screen.svg); }
            &.weight > h2:after { background-image: url(images/w-icons/scale.svg); }
            &.temperature > h2:after { background-image: url(images/w-icons/temperature.svg); }

            > h2 {
                &:after {
                    margin: -5px 0;
                    flex-grow: 1;
                    content: " ";
                    background: right center / contain no-repeat;
                    background-color: $main-color;
                }

                display: flex;
                background-color: $main-color;
                margin: 0;
                color: #fff;
                margin: -0.5vmax;
                padding: 20px 15px 20px 20px;
                font-size: 0.9rem;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
            }

            > p {
                text-align: center;
                font-size: 2.5rem;
                flex-grow: 1;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                span {
                    display: block;
                    font-size: 1rem;
                }
            }

            > button {
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 20%;
                height: 20%;
                background: #fff;
                border: 1px solid #ccc;
            }

            &:not(.group) {
                width: 45vw;
                height: 45vw;
                margin: 1.5vw;
                padding: 0.5vw;
                @include for-tablet-portrait-up {
                    width: 200px;
                    height: 200px;
                    margin: 0.5vw;
                    padding: 0.5vw;
                }
                @include for-tablet-landscape-up {
                    width: 200px;
                    height: 200px;
                    margin: 0.5vw;
                    padding: 0.5vw;
                }
                @include for-desktop-up {
                    width: 220px;
                    height: 220px;
                    margin: 10px;
                    padding: 5px;
                }
            }

            &.group {
                margin: 1.5vw;
                padding: 0.5vw;

                @include for-tablet-portrait-up {
                    min-height: 200px;
                    margin: 0.5vw;
                    padding: 0.5vw;
                }
                @include for-tablet-landscape-up {
                    min-height: 200px;
                    margin: 0.5vw;
                    padding: 0.5vw;
                }
                @include for-desktop-up {
                    min-height: 220px;
                    margin: 10px;
                    padding: 5px;
                }

                > div {
                    flex-grow: 1;
                    display: flex;
                    align-content: stretch;
                    flex-wrap: wrap;
                    padding: 0.25vmax;
                    margin: -0.25vmax;
                    justify-content: center;

                    > div {
                        margin: 0.5vmax;
                        padding: 0.5vmax;
                        display: flex;
                        flex-direction: column;

                        &.weather {
                            > p:before {
                                content: " ";
                                width: 60px;
                                height: 60px;
                                background: right center / contain no-repeat url(images/icons/cloudy-day.svg);
                                margin-right: 4px;
                            }
                        }

                        > h3 {
                            margin: 0;
                            padding: 5px 10px;
                            margin: 0 -0.5vmax 0;
                            font-size: 0.9rem;
                            font-weight: normal;
                            text-align: center;
                        }
    
                        > p {
                            text-align: center;
                            font-size: 2rem;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-grow: 1;
                            span {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

}